
@{
    Layout = "_LayoutCustomer";
    var username = ViewBag.Username;
}


@if (!string.IsNullOrEmpty(username))
{
    <div class="greeting-message">
        <span>Xin chào, @username!</span>
    </div>
}